/*! * bootstrap-star-rating v4.0.3 * http://plugins.krajee.com/star-rating * * Author: Kartik Visweswaran * Copyright: 2013 - 2017, Kartik Visweswaran, Krajee.com * * Licensed under the BSD 3-Clause * https://github.com/kartik-v/bootstrap-star-rating/blob/master/LICENSE.md */
 .rating-loading {
     width: 25px;
     height: 25px;
     font-size: 0;
     color: #fff;
     background: transparent url('../images/rating-loading.gif') top left no-repeat;
     border: none;
}
/* * Stars & Input */
 .rating-container .rating-stars {
     position: relative;
     cursor: pointer;
     vertical-align: middle;
     display: inline-block;
     overflow: hidden;
     white-space: nowrap;
}
 .rating-container .rating-input {
     position: absolute;
     cursor: pointer;
     width: auto;
     height: 1px;
     bottom: 0;
     left: 0;
     font-size: 1px;
     border: none;
     background: none;
     padding: 0;
     margin: 0;
}
 .rating-disabled .rating-input, .rating-disabled .rating-stars {
     cursor: not-allowed;
}
 .rating-container .star {
     display: inline-block;
     margin: 0 3px;
     text-align: center;
}
 .rating-container .empty-stars {
     color: #aaa;
}
 .rating-container .filled-stars {
     position: absolute;
     left: 0;
     top: 0;
     margin: auto;
     color: #fde16d;
     white-space: nowrap;
     overflow: hidden;
}
 .rating-rtl {
     float: right;
}
 .rating-animate .filled-stars {
     transition: width 0.25s ease;
     -o-transition: width 0.25s ease;
     -moz-transition: width 0.25s ease;
     -webkit-transition: width 0.25s ease;
}
 .rating-rtl .filled-stars {
     left: auto;
     right: 0;
     -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
     -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
     -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
     transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}
 .rating-rtl.is-star .filled-stars {
     right: 0.06em;
}
 .rating-rtl.is-heart .empty-stars {
     margin-right: 0.07em;
}
/** * Sizes */
 .rating-xl {
     font-size: 4.89em;
}
 .rating-lg {
     font-size: 3.91em;
}
 .rating-md {
     font-size: 3.13em;
}
 .rating-sm {
     font-size: 2.5em;
}
 .rating-xs {
     font-size: 2em;
}
 .rating-xl {
     font-size: 4.89em;
}
/** * Clear */
 .rating-container .clear-rating {
     color: #aaa;
     cursor: not-allowed;
     display: inline-block;
     vertical-align: middle;
     font-size: 60%;
}
 .clear-rating-active {
     cursor: pointer !important;
}
 .clear-rating-active:hover {
     color: #843534;
}
 .rating-container .clear-rating {
     padding-right: 5px;
}
/** * Caption */
/* extend support to BS4 */
 .rating-container .caption .label {
     display: inline-block;
     padding: 5px 10px;
     line-height: 1;
     text-align: center;
     vertical-align: baseline;
     border-radius: 3px;
     font-weight:400;
}
 .rating-container .caption {
     color: #999;
     display: inline-block;
     vertical-align: middle;
     font-size: 60%;
}
 .rating-container .caption {
     margin-left: 5px;
     margin-right: 0;
}
 .rating-rtl .caption {
     margin-right: 5px;
     margin-left: 0;
}
/** * Print */
 @media print {
     .rating-container .clear-rating {
         display: none;
    }
}