/*
 Theme Name:   Adforest Child
 Theme URI:    http://adforest.scriptsbundle.com/demos/
 Description: Adforest child classified, responsive, multi-purpose, corporate, business theme. It comes with 16 home variations with all necessary pages. Adforest theme filled with extra functionality of modern web technologies. The clean design with latest version of Bootstrap framework makes its fit for anywhere.
 Author:       Mark Nprman
 Author URI:   http://marktnorman.com
 Template:     adforest
 Version:      1.0.0
 License: Themeforest Split Licence
 License URI: https://themeforest.net/user/scriptsbundle/
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  adforest
*/

.colored-header .menu-logo {
    max-width: 150px;
    margin-right: 20px;
}